<h1>Edit Spellbook</h1>

    <%= form_for @spellbook do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <br>
    <%= f.label :level %>
    <%= f.number_field :level %>
    <%= f.submit "Update your spellbook" %>
    <% end %>