<h1>Edit Spellbook</h1>

    <% if @spellbook.errors.any? %>
    <div id="error explanation">
        <h2><%= pluralize(@spellbook.errors.count, "error") %> prevented this Spellbook from being saved: </h2>
        <ul>
        <% @spellbook.errors.full_messages.each do |error| %>
        <li> <%= error %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <%= form_for @spellbook do |f| %>
        <%= render partial: "form", locals: {in_the_partial: f }%>
    <%= f.submit "Update your spellbook" %>
    <% end %>

    <style>
body {
  background: url('https://images.unsplash.com/photo-1497800839469-bdbe4fd9d391?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hZ2ljJTIwaW5ncmVkaWVudHN8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
</style>