<h1>Create Spellbook</h1>

    <%= form_for @spellbook do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :category %>
    <%= f.password_field :category %>
    <br>
    <%= f.label :level %>
    <%= f.number_field :level %>
    <%= f.submit %>
    <% end %>