<h1>Create Spellbook</h1>

    <%= form_for @spellbook do |f| %>
        <%= render partial: "form", locals: { in_the_partial: f } %>
        <h3>And add 2 Spells:</h3>
        <%= f.fields_for :spells do |s| %>
        <%= s.label "Name" %>
        <%= s.text_field :name %> <br><br>
        <%= s.label "Level" %> <br><br>
        <%= s.number_field :level %>
        <%= s.label "Description" %> <br><br>
        <%= s.text_area :description %>


    <%= f.submit "Generate your Spellbook & Spells" %>
    <% end %>