<h2>Edit User</h2>

    <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :profile_pic %>
    <%= f.text_field :profile_pic %>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
    <%= f.submit %>
    <% end %>

    
