<h1>Edit Spell</h1>

<%= form_for @spell do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :level %>
    <%= f.number_field :level %>
    <%= f.submit "Update Spell" %>
    <% end %>