<h1>Create Spell</h1>

    <%= form_for @spell do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :level %>
    <%= f.number_field :level %>
    <%= f.submit "Publish Spell" %>
    <% end %>

   
    <style>
body {
  background: url('https://images.unsplash.com/photo-1497800839469-bdbe4fd9d391?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hZ2ljJTIwaW5ncmVkaWVudHN8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
</style>