<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1 style="color: #501B1D; text-align:center">Spell Info: </h1>

      <div style="color: #501B1D; text-align:center">
      Name: <%= @spell.name %> <br>
      Description: <%= @spell.description %> <br>
      Level: <%= @spell.level %> <br>
      </div>
        <div style="color: #501B1D; text-align:center">
        <% if current_user.id == @spell.user_id %>
        <%= link_to "edit", edit_spellbook_spell_path(@spellbook, @spell) %>
          <%= link_to "delete", spellbook_spell_path(@spellbook, @spell), method: 'DELETE' %>
          <% end %>
        </div>
</div>

<style>
body {
  background: url('https://images.unsplash.com/photo-1518562180175-34a163b1a9a6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWFnaWN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .4);
border: 2px #83677B;
border-radius: 100px; 
}

</style>