<h1>Spell Info: </h1>

Name: <%= @spell.name %> <br>
Category: <%= @spell.category %> <br> 
Description: <%= @spell.description %> <br>
Level: <%= @spell.level %> <br>


<%= link_to "delete", spell_path(@spell), method: 'DELETE' %>